@import url(../universal.css);
.work-cards-section {
    display: inline-flex;
    gap: 1.5rem;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    .card {
        background-color: #050514;
        padding: 0.5rem;
        border-radius: 0.5rem;
        height: auto;
        position: relative;
        color: #f9f9f9;
        box-shadow: 4px 4px 5px 0px rgb(40 38 43 / 50%), -4px -4px 4px 0px rgb(40 39 43 / 50%);
        project-img img {
            border-radius: 16px 16px 0 0;
            width: 100%;
        }
        .more {
            width: 100%;
            margin: 1rem 0;
            .name {
                margin-bottom: 0.5rem;
            }
            .cta-projects {
                width: 100%;
                display: flex;
                flex-direction: row;
                font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
                margin-top: 1rem;
                .platform {
                    border: #525257 solid 0.125rem;
                    border-radius: 0.75rem;
                    color: #525257;
                    padding: 0.5rem;
                    font-weight: 600;
                    font-family: inherit;
                }
                .case-study {
                    border: #e4dfdf solid 0.125rem;
                    border-radius: 0.75rem;
                    color: #f9f9f9;
                    padding: 0.25rem;
                    a {
                        font-weight: 400;
                        font-family: inherit;
                        font-size: 1rem;
                        align-items: center;
                        display: flex;
                        flex-direction: row-reverse;
                        gap: 0.25rem;
                        text-align: center;
                        img {
                            width: 1.25rem;
                            height: 1.25rem;
                            border-radius: 50%;
                        }
                    }
                }
                .case-study:hover {
                    background-color: #0b065f;
                    color: #e4dfdf;
                    border: 0.125rem solid #2f2f3e;
                }
            }
        }
    }
}

.see-more {
    align-items: center;
    text-align: center;
    display: inline-flex;
    flex-direction: row;
    gap: .5rem;
    margin-bottom: 4rem;
    a {
        display: inline-flex;
        flex-direction: row;
        align-items: center;
        text-align: center;
        gap: 0.25rem;
    }
    img {
        height: 1.125rem;
        width: 1.125rem;
    }
    a:hover {
        border-bottom: 0.125rem solid #e4dfdf;
        color: #cf83c5;
    }
}

.brand-identity {
    margin-top: 2.5rem;
    .brand-identity-cards {
        display: inline-flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 100%;
        gap: 1.5rem;
        align-items: center;
        justify-content: space-between;
        // background-color: #f9f9f9;
        img {
            // width: 50%;
        }
    }
}

@media screen and (min-width:250px) and (max-width:375px) {
    .work-cards-section {
        display: inline-flex;
        gap: 1.5rem;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        .card {
            background-color: #050514;
            padding: 0.5rem;
            border-radius: 0.5rem;
            height: auto;
            position: relative;
            color: #f9f9f9;
            box-shadow: 4px 4px 5px 0px rgb(40 38 43 / 50%), -4px -4px 4px 0px rgb(40 39 43 / 50%);
            project-img img {
                border-radius: 16px 16px 0 0;
                width: 100%;
            }
            .more {
                width: 100%;
                margin: 1rem 0;
                .name {
                    margin-bottom: 0.5rem;
                }
                .cta-projects {
                    width: 100%;
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
                    .platform {
                        border: #525257 solid 0.125rem;
                        border-radius: 0.75rem;
                        color: #525257;
                        padding: 0.5rem;
                        font-weight: 600;
                        font-family: inherit;
                    }
                    .case-study {
                        border: #e4dfdf solid 0.125rem;
                        border-radius: 0.75rem;
                        color: #f9f9f9;
                        padding: 0.25rem;
                        a {
                            font-weight: 400;
                            font-family: inherit;
                            font-size: 1rem;
                            align-items: center;
                            display: flex;
                            flex-direction: row-reverse;
                            gap: 0.25rem;
                            text-align: center;
                            img {
                                width: 1.25rem;
                                height: 1.25rem;
                                border: #e4dfdf solid 0.0625px;
                                border-radius: 50%;
                                padding: 0.125rem;
                            }
                        }
                    }
                }
            }
        }
    }
    .see-more {
        align-items: center;
        text-align: center;
        display: inline-flex;
        flex-direction: row;
        gap: .5rem;
        margin-bottom: 4rem;
        a {
            display: inline-flex;
            flex-direction: row;
            align-items: center;
            text-align: center;
            gap: 0.25rem;
        }
        img {
            height: 1.125rem;
            width: 1.125rem;
        }
        a:hover {
            border-bottom: 0.125rem solid #e4dfdf;
            color: #cf83c5;
        }
    }
    .brand-identity {
        margin-top: 2.5rem;
        .brand-identity-cards {
            display: inline-flex;
            flex-direction: row;
            flex-wrap: wrap;
            width: 100%;
            gap: 1.5rem;
            align-items: center;
            justify-content: space-between;
        }
    }
}

@media screen and (min-width:375px) and (max-width:450px) {
    .cta-projects {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
}

@media screen and (min-width:450px) and (max-width:550px) {
    .cta-projects {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .brand-identity {
        margin-top: 2.5rem;
        .brand-identity-cards {
            display: inline-flex;
            flex-direction: row;
            flex-wrap: wrap;
            width: 100%;
            gap: 1.5rem;
            align-items: center;
            justify-content: space-between;
        }
        img {
            width: 47%;
        }
    }
}

@media screen and (min-width:550px) and (max-width:650px) {
    .cta-projects {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .brand-identity {
        margin-top: 2.5rem;
        .brand-identity-cards {
            display: inline-flex;
            flex-direction: row;
            flex-wrap: wrap;
            width: 100%;
            gap: 1.5rem;
            align-items: center;
            justify-content: space-between;
        }
        img {
            width: 47%;
        }
    }
}

@media screen and (min-width:650px) {
    .work-cards-section {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        .card {
            width: 48%;
        }
        .cta-projects {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
        }
    }
    .brand-identity {
        margin-top: 2.5rem;
        .brand-identity-cards {
            display: flex;
            flex-direction: row;
            // flex-wrap: wrap;
            width: 100%;
            // gap: 1.5rem;
            align-items: center;
            justify-content: space-between;
        }
        img {
            width: 47%;
        }
    }
}