@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@200..800&display=swap");
@import url("../../styles/universal.scss");
.nav-bar {
  width: 100%;
}
.nav-bar a {
  text-decoration: none;
  color: #f9f9f9;
  font-size: 1.25rem;
}

@media screen and (min-width: 250px) and (max-width: 375px) {
  .nav-bar {
    background-color: #060613;
    height: -moz-fit-content;
    height: fit-content;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 999;
    padding: 0.75rem 0;
  }
  .nav-bar .nav-bar-items {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    z-index: 999;
  }
  .nav-bar .nav-bar-items .logo {
    width: 5rem;
  }
  .nav-bar .nav-bar-items .nav-links {
    display: flex;
    flex-direction: column;
    font-size: 1.2rem;
    gap: 2vw;
    height: 100vh;
    right: 0;
    left: 0;
    top: 3em;
    position: fixed;
    align-items: center;
    width: 100%;
    text-align: center;
    transform: translateX(100%);
    transition: transform 0.5 ease-in-out;
    background-color: #050514;
    padding-top: 20vh;
    gap: 10vh;
    font-size: 20px;
  }
  .nav-bar .nav-bar-items .nav-links span {
    font-size: 1rem;
    font-style: italic;
    font-weight: 200;
    text-align: center;
    font-family: "Dosis", sans-serif;
  }
  .nav-bar .nav-bar-items .nav-links li {
    opacity: 0;
  }
  .nav-bar .nav-bar-items .burger-icon div {
    height: 0.0625rem;
    width: 1.5rem;
    background-color: #f9f9f9;
    margin: 0.5rem;
    transition: all 0.5s ease;
  }
  .nav-bar .nav-bar-items .burger-icon {
    display: block;
    cursor: pointer;
  }
  .nav-bar .nav-bar-items .active {
    font-weight: 700;
    color: #62617a;
  }
  .nav-bar .nav-bar-items .nav-active {
    transform: translateX(0);
  }
  @keyframes navLinkFade {
    from {
      opacity: 0;
      transform: translate(50px);
    }
    to {
      opacity: 1;
      transform: translate(0);
    }
  }
  .nav-bar .toggle .line1 {
    transform: rotate(-45deg) translate(-0.375rem, 0.5rem);
  }
  .nav-bar .toggle .line2 {
    opacity: 0;
  }
  .nav-bar .toggle .line3 {
    transform: rotate(45deg) translate(-0.375rem, -0.5rem);
  }
}
@media screen and (min-width: 375px) and (max-width: 450px) {
  .nav-bar {
    background-color: #060613;
    height: -moz-fit-content;
    height: fit-content;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 999;
    padding: 0.75rem 0;
  }
  .nav-bar .nav-bar-items {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    z-index: 999;
  }
  .nav-bar .nav-bar-items .logo {
    width: 5rem;
  }
  .nav-bar .nav-bar-items .nav-links {
    display: flex;
    flex-direction: column;
    font-size: 1.2rem;
    gap: 2vw;
    height: 100vh;
    right: 0;
    left: 0;
    top: 3em;
    position: fixed;
    align-items: center;
    width: 100%;
    text-align: center;
    transform: translateX(100%);
    transition: transform 0.5 ease-in-out;
    background-color: #050514;
    padding-top: 20vh;
    gap: 10vh;
    font-size: 20px;
  }
  .nav-bar .nav-bar-items .nav-links span {
    font-size: 1rem;
    font-weight: 200;
    text-align: center;
    font-style: italic;
    font-family: "Dosis", sans-serif;
  }
  .nav-bar .nav-bar-items .nav-links li {
    opacity: 0;
  }
  .nav-bar .nav-bar-items .burger-icon div {
    height: 0.0625rem;
    width: 1.5rem;
    background-color: #f9f9f9;
    margin: 0.5rem;
    transition: all 0.5s ease;
  }
  .nav-bar .nav-bar-items .burger-icon {
    display: block;
    cursor: pointer;
  }
  .nav-bar .nav-bar-items .active {
    font-weight: 700;
    color: #62617a;
  }
  .nav-bar .nav-bar-items .nav-active {
    transform: translateX(0);
  }
  @keyframes navLinkFade {
    from {
      opacity: 0;
      transform: translate(50px);
    }
    to {
      opacity: 1;
      transform: translate(0);
    }
  }
  .nav-bar .toggle .line1 {
    transform: rotate(-45deg) translate(-0.375rem, 0.5rem);
  }
  .nav-bar .toggle .line2 {
    opacity: 0;
  }
  .nav-bar .toggle .line3 {
    transform: rotate(45deg) translate(-0.375rem, -0.5rem);
  }
}
@media screen and (min-width: 450px) and (max-width: 550px) {
  .nav-bar {
    background-color: #060613;
    height: -moz-fit-content;
    height: fit-content;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 999;
    padding: 1rem 0;
  }
  .nav-bar .nav-bar-items {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    z-index: 999;
  }
  .nav-bar .nav-bar-items .logo {
    width: 5rem;
  }
  .nav-bar .nav-bar-items .nav-links {
    display: flex;
    flex-direction: column;
    font-size: 1.2rem;
    gap: 2vw;
    height: 100vh;
    right: 0;
    left: 0;
    top: 3em;
    position: fixed;
    align-items: center;
    width: 100%;
    text-align: center;
    transform: translateX(100%);
    transition: transform 0.5 ease-in-out;
    background-color: #050514;
    padding-top: 20vh;
    gap: 10vh;
    font-size: 20px;
  }
  .nav-bar .nav-bar-items .nav-links span {
    font-size: 1rem;
    font-style: italic;
    font-weight: 200;
    text-align: center;
    font-family: "Dosis", sans-serif;
  }
  .nav-bar .nav-bar-items .nav-links li {
    opacity: 0;
  }
  .nav-bar .nav-bar-items .burger-icon div {
    height: 0.0625rem;
    width: 1.5rem;
    background-color: #f9f9f9;
    margin: 0.5rem;
    transition: all 0.5s ease;
  }
  .nav-bar .nav-bar-items .burger-icon {
    display: block;
    cursor: pointer;
  }
  .nav-bar .nav-bar-items .active {
    font-weight: 700;
    color: #62617a;
  }
  .nav-bar .nav-bar-items .nav-active {
    transform: translateX(0);
  }
  @keyframes navLinkFade {
    from {
      opacity: 0;
      transform: translate(50px);
    }
    to {
      opacity: 1;
      transform: translate(0);
    }
  }
  .nav-bar .toggle .line1 {
    transform: rotate(-45deg) translate(-0.375rem, 0.5rem);
  }
  .nav-bar .toggle .line2 {
    opacity: 0;
  }
  .nav-bar .toggle .line3 {
    transform: rotate(45deg) translate(-0.375rem, -0.5rem);
  }
}
@media screen and (min-width: 550px) and (max-width: 650px) {
  .nav-bar {
    background-color: #060613;
    height: -moz-fit-content;
    height: fit-content;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    padding: 1.125rem 0;
    z-index: 999;
  }
  .nav-bar .nav-bar-items {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    z-index: 999;
    padding: 0.75rem 0;
  }
  .nav-bar .nav-bar-items .logo {
    width: 6rem;
  }
  .nav-bar .nav-bar-items .nav-links {
    display: flex;
    flex-direction: column;
    font-size: 1.2rem;
    gap: 2vw;
    height: 100vh;
    right: 0;
    left: 0;
    top: 3em;
    position: fixed;
    align-items: center;
    width: 100%;
    text-align: center;
    transform: translateX(100%);
    transition: transform 0.5 ease-in-out;
    background-color: #050514;
    padding-top: 20vh;
    gap: 10vh;
    font-size: 20px;
  }
  .nav-bar .nav-bar-items .nav-links span {
    font-size: 1rem;
    font-weight: 200;
    text-align: center;
    font-family: "Dosis", sans-serif;
    font-style: italic;
  }
  .nav-bar .nav-bar-items .nav-links li {
    opacity: 0;
  }
  .nav-bar .nav-bar-items .burger-icon div {
    height: 0.0625rem;
    width: 1.5rem;
    background-color: #f9f9f9;
    margin: 0.5rem;
    transition: all 0.5s ease;
  }
  .nav-bar .nav-bar-items .burger-icon {
    display: block;
    cursor: pointer;
  }
  .nav-bar .nav-bar-items .active {
    font-weight: 700;
    color: #62617a;
  }
  .nav-bar .nav-bar-items .nav-active {
    transform: translateX(0);
  }
  @keyframes navLinkFade {
    from {
      opacity: 0;
      transform: translate(50px);
    }
    to {
      opacity: 1;
      transform: translate(0);
    }
  }
  .nav-bar .toggle .line1 {
    transform: rotate(-45deg) translate(-0.375rem, 0.5rem);
  }
  .nav-bar .toggle .line2 {
    opacity: 0;
  }
  .nav-bar .toggle .line3 {
    transform: rotate(45deg) translate(-0.375rem, -0.5rem);
  }
}
@media screen and (min-width: 650px) and (max-width: 768px) {
  .nav-bar {
    background-color: #060613;
    height: -moz-fit-content;
    height: fit-content;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 999;
    padding: 1.25rem 0;
  }
  .nav-bar .nav-bar-items {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    z-index: 999;
  }
  .nav-bar .nav-bar-items .logo {
    width: 6rem;
  }
  .nav-bar .nav-bar-items .nav-links {
    display: flex;
    flex-direction: column;
    font-size: 1.2rem;
    gap: 2vw;
    height: 100vh;
    right: 0;
    left: 0;
    top: 3em;
    position: fixed;
    align-items: center;
    width: 100%;
    text-align: center;
    transform: translateX(100%);
    transition: transform 0.5 ease-in-out;
    background-color: #050514;
    padding-top: 20vh;
    gap: 10vh;
    font-size: 20px;
  }
  .nav-bar .nav-bar-items .nav-links span {
    font-size: 1rem;
    font-weight: 200;
    font-style: italic;
    text-align: center;
    font-family: "Dosis", sans-serif;
  }
  .nav-bar .nav-bar-items .nav-links li {
    opacity: 0;
  }
  .nav-bar .nav-bar-items .burger-icon div {
    height: 0.0625rem;
    width: 1.5rem;
    background-color: #f9f9f9;
    margin: 0.5rem;
    transition: all 0.5s ease;
  }
  .nav-bar .nav-bar-items .burger-icon {
    display: block;
    cursor: pointer;
  }
  .nav-bar .nav-bar-items .active {
    font-weight: 700;
    color: #62617a;
  }
  .nav-bar .nav-bar-items .nav-active {
    transform: translateX(0);
  }
  @keyframes navLinkFade {
    from {
      opacity: 0;
      transform: translate(50px);
    }
    to {
      opacity: 1;
      transform: translate(0);
    }
  }
  .nav-bar .toggle .line1 {
    transform: rotate(-45deg) translate(-0.375rem, 0.5rem);
  }
  .nav-bar .toggle .line2 {
    opacity: 0;
  }
  .nav-bar .toggle .line3 {
    transform: rotate(45deg) translate(-0.375rem, -0.5rem);
  }
}
@media screen and (min-width: 768px) {
  .nav-bar {
    background-color: #060613;
    height: -moz-fit-content;
    height: fit-content;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 999;
    padding: 1.25rem 0;
  }
  .nav-bar .nav-bar-items {
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    z-index: 999;
  }
  .nav-bar .nav-bar-items .logo {
    width: 8rem;
  }
  .nav-bar .nav-bar-items .nav-links {
    display: flex;
    flex-direction: row;
    font-size: 1.2rem;
    gap: 2vw;
    align-items: center;
    text-align: center;
    transition: transform 0.5 ease-in-out;
    padding: 2vh;
    gap: 10vh;
    width: 100%;
    justify-content: flex-end;
  }
  .nav-bar .nav-bar-items .nav-links span {
    font-size: 1rem;
    font-weight: 200;
    text-align: center;
    font-family: "Dosis", sans-serif;
    font-style: italic;
  }
  .nav-bar .nav-bar-items .nav-links li {
    opacity: 1;
    list-style-type: none;
    list-style: none;
  }
  .nav-bar .nav-bar-items .nav-links li a {
    text-decoration: none;
    color: #f9f9f9;
  }
  .nav-bar .nav-bar-items .nav-links li a:hover {
    border-bottom: #62617a solid 0.125rem;
    transition: transform 0.5s ease-in;
    padding-bottom: 0.25rem;
  }
  .nav-bar .nav-bar-items .burger-icon div {
    height: 0.0625rem;
    width: 1.5rem;
    background-color: #f9f9f9;
    margin: 0.5rem;
    transition: all 0.5s ease;
  }
  .nav-bar .nav-bar-items .burger-icon {
    display: none;
    cursor: pointer;
  }
  .nav-bar .nav-bar-items .active {
    font-weight: 700;
    color: #62617a;
  }
}/*# sourceMappingURL=navBar.css.map */